* {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-image: linear-gradient(to right, #4c6c81, #083263);
}

h1 {
  text-align: center;
  padding: 24px;
  font-size: 54px;
  color: white;
}

p {
  color: white;
}

.botoes {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: rgb(255, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.botao-limpar {
  background-color: #ff7e7e;
}

.botao-limpar:hover {
  background-color: #fd4242;
  color: white;
}

input[type=number] {
  padding: 10px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  margin: 10px;
  width: 350px;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out;
}

button:hover {
  opacity: 0.8;
  font-weight: 700;
  cursor: pointer;
  transform: translateY(-5px);
}