* {
  margin: 0;
  padding: 0;
}

legend {
  text-transform: uppercase;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(to right, cyan, rgb(81, 0, 173));
}

h1 {
  padding-top: 20px;
  color: white;
}

fieldset {
  border: 3px solid dodgerblue;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 15px;
  color: white;
  width: 400px;
  text-align: center;
}

input {
  border-radius: 8px;
  text-align: center;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(to right, rgb(29, 164, 243), rgb(8, 48, 65));
}

legend {
  border: 1px solid dodgerblue;
  padding: 10px;
  background-color: dodgerblue;
  border-radius: 8px;
}

button {
  background-color: dodgerblue;
  border: none;
  margin-top: 20px;
  padding: 15px;
  width: 70%;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out;
}

label {
  margin-left: 160px;
}

button:hover {
  background-color: aquamarine;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transform: translateY(-4px);
}

.innput-box {
  position: relative;
}

.innput-user {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 1px;
}

.label-inpput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .9s;
}

.innput-user:focus~.label-inpput,
.innput-user:valid~.label-inpput {
  top: -20px;
  font-size: 15px;
  color: dodgerblue;
}

div.botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#somar {
  background-size: contain;
  width: 50px;
  height: 50px;
}

#subtrair {
  background-size: contain;
  width: 50px;
  height: 50px;
}

#dividir {
  background-size: contain;
  width: 50px;
  height: 50px;
}

#multiplicar {
  background-size: contain;
  width: 50px;
  height: 50px;
}

/* Botão LIMPAR */
#limpar {
  background-color: lightcoral;
  color: #fff;
  border: none;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out;
}

#limpar:hover {
  background-color: rgb(233, 84, 84);
  color: white;
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}