body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 800px;
  padding: 0;
  margin: auto;
}

div {
  display: inline-block;
  border-radius: 10px;
}

#div1:hover {
  box-shadow: inset 0 0 20px gray;
  cursor: pointer;
}

#div2:hover {
  box-shadow: inset 0 0 20px gray;
  cursor: pointer;
}

#div1 {
  width: 250px;
  height: 250px;
  background-color: rgba(0, 255, 0, 0.2);
  margin-left: 20px;
  padding: 20px;
}

#div2 {
  width: 250px;
  height: 250px;
  background-color: rgba(255, 0, 0, 0.2);
  margin-left: 20px;
  padding: 20px;
}

.container {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

#html {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#css {
  padding: 10px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

p {
  font-size: 20px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: inset 0 0 10px gray;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../imagemHTML.jpg");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}